<!DOCTYPE html>
<html lang="en">
<%- include("./particials/head.ejs") %>
<body>
    <%- include("./particials/header.ejs") %>
    <div class="catalog-page">
      <h2><%=title%></h2>
      <div class="catalog-elements">
        <% products.forEach(product => { %>
          <div class="single-element">
            <a class="item" href="/catalog/<%= product._id %>">
              <img src="/catalog/image/<%= product._id %>" />
              <p class="title"><%= product.title %></p>
              <p class="price"><%= product.price %></p>
              <p class="snippet"><%= product.snippet %></p>
            </a>
          </div>
        <% }); %>
        <a href="/add" class="add-page"></a>
      </div>
    </div>
</body>
</html>